*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

h1 	{font-family: 'Poppins', sans-serif; font-size: 52px; font-weight: 700; line-height: 76px; color: #292C30; padding: 0; margin: 0; letter-spacing: 0.01em;}
h2 	{font-family: 'Poppins', sans-serif; font-size: 42px; font-weight: 700; line-height: 64px; color: #292C30; padding: 0; margin: 0; letter-spacing: 0.01em;}
h3 	{font-family: 'Poppins', sans-serif; font-size: 28px; font-weight: 700; line-height: 43px; color: #292C30; padding: 0; margin: 0; letter-spacing: 0.01em; margin-bottom: 30px;}
h4 	{font-family: 'Poppins', sans-serif; font-size: 18px; font-weight: 600; line-height: 32px; color: #292C30; padding: 0; margin: 0; letter-spacing: 0.01em; margin-bottom: 5px;}
p 	{font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: 500; line-height: 28px; color: #8E9AA7; padding: 0; margin: 0;}
b	{font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: 600; line-height: 28px; color: #292C30; padding: 0; margin: 0; }

html {
  overflow-y: scroll;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

*:focus {outline: none;}



body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background: #FFF;
    -webkit-font-smoothing: antialiased;
    top: 0;
    margin-left: 0px;
    outline: none;  
    width: 100%;
    font-weight: 400;
}


body.fixed {
	width: 100%;
	overflow: hidden;
    height: auto;
}


body.active-side {
	margin-left: 0px;
	width: 100%;
	overflow: hidden;
    height: auto;
}


html, body {
    height:100%;
    -webkit-font-smoothing: antialiased;
}

.logo {
	width: 74px;
	display: block;
	height: 20px;
	background: url("../img/logo_welove_B.svg") 0px 0px no-repeat;
	margin-bottom: 80px;
}

.logo-w {background: url("../img/logo_welove_W.svg") 0px 0px no-repeat;}


.sidebar {
	position: fixed;
	left: 0px;
	top: 0px; 
	width: 80px;
	height: 100%;
	border-right: solid rgba(0, 0, 0, 0.07) 1px;
	z-index: 3;
}

.stripe {
	float: left;
	display: block;
	width: 100%;
	height: 1px;
	background: rgba(0, 0, 0, 0.07);
}

.scroll-top {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 15px;
	bottom: 0px;
	border-radius: 25px;
	cursor: pointer;
	background: rgba(39, 76, 126, 0) url("../img/icons/icon-fullarrow-dark.svg") center center no-repeat;
	transform: rotate(-90deg);
	opacity: 0;
	visibility: hidden;
}

.scroll-top.active {
	bottom: 15px;
	opacity: 1;
	visibility: visible;
}

.scroll-top:hover {
	background: rgba(39, 76, 126, 0.05) url("../img/icons/icon-fullarrow-dark.svg") center center no-repeat;
}

.icon {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0px 10px 0px 20px;
}

.button-square-big {
	float: left;
	height: 80px;
	padding: 30px 30px 30px 50px;
	background: #0071FF;
	text-decoration: none;
}

.button-square-big span {
	float: left;
	line-height: 20px;
	color: #fff;
	font-size: 16px;
}

.button-round-big {
	float: left;
	height: 60px;
	padding: 20px 15px 20px 35px;
	background: #0071FF;
	text-decoration: none;	
	border-radius: 30px;
}

.button-round-big span {
	float: left;
	line-height: 18px;
	color: #fff;
	font-size: 15px;
}


.back-page-button {
	width: 79px;
	height: 160px;
	background: rgba(0, 0, 0, 0.07);
	left: 0;
	display: block;
	position: absolute;
	left: 0;
	top:210px;
	z-index: 4;
	padding: 70px 31px 70px 28px;
	opacity: 0;
	visibility: hidden;
}

.back-page-button-dark {
	background: #292C30;
}

.back-page-button:hover{
	padding: 70px 36px 70px 23px;
}

.back-page-button .backico {
	transform: rotate(-180deg);
	background: url("../img/icons/icon-fullarrow-white.svg") center center no-repeat;
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	transform: rotate(180deg);
}

.back-page-button-w {
	opacity: 1;
	visibility: visible;
}



.breadcrumb {
	height: 28px;
	width: auto;
}

.breadcrumb a {
	color: #8E9AA7;
	text-decoration: none;
	line-height: 28px;
	padding: 0;
	margin: 0;
	height: 28px;
	float: left;
	font-size: 16px;
}

.breadcrumb .ico-breadcrumb {
	height: 20px;
	width: 20px;
	background: rgba(39, 76, 126, 0) url("../img/icons/icon-halfarrow-grey.svg") center center no-repeat;
	background-size: 20px 20px;
	margin: 5px 15px 3px 15px;
	float: left;
}

.breadcrumb-w a {color: rgba(255, 255, 255, 0.6);}
.breadcrumb-w .ico-breadcrumb {
	background: rgba(39, 76, 126, 0) url("../img/icons/icon-halfarrow-white.svg") center center no-repeat;
	background-size: 20px 20px;
	opacity: .6;
}

.textlink {
	color: #8E9AA7;
	text-decoration: none;
	background: #F3F5F6;
}

.textlink:hover {
	color: #0071FF;
}

/* --- Cookie melding -------------------------------------------------- */

.cc-revoke, .cc-window {
	font-family: 'Montserrat', sans-serif !important;
	z-index: 5 !important;
}

.cc-message {
	font-size: 12px !important;
	font-weight: 400 !important;
}

@media screen and (min-width: 768px){

.cc-message {
	font-size: 15px !important;
	font-weight: 400 !important;
	margin: 0;
	line-height: 25px;
	padding: 25px 0 25px 15px !important;
}

.cc-compliance {
	border-radius: 26px;
	overflow: hidden;
	margin-right: 30px;
	font-weight: 400;
}

.cc-btn {font-weight: 400 !important;}

.cc-banner.cc-theme-edgeless .cc-btn {border-radius: 26px;}

}
/* --- Inspiration -------------------------------------------------- */


.inspiration {
	float: left;
	width: 100%;
	padding: 110px 90px 80px 170px;
	position: relative;
}

.inspiration-container {
	margin: 0 auto;
	max-width: 1180px;
	height: auto;
}

.inspiration-header {
	float: left;
	padding: 0px 30px;
	width: 100%;
}


.inspiration h2 {
	margin: 10px 0 30px 0;
	display: block;
	width: 100%;
}


/* --- Inspiration Button Right Top --- */

.button-submit-right-top {
	position: absolute;
	right: 0;
	top: 0;
}

.button-submit-right-top .icon {
	background: url("../img/icons/icon-fullarrow-white.svg") 0px 0px no-repeat;
	opacity: .5;
}

.button-submit-right-top:hover {
	background: #0469EA;
}

.button-submit-right-top:hover .icon{
	margin: 0px 5px 0px 25px;
}


/* --- Inspiration Grid --- */


.post {
	float: left;
	padding: 30px;
	width: 33.33333%;
	height: auto;
	position: relative;
}

.post.active {
	float: left;
	padding: 30px;
	width: 50%;
	height: auto;	
}

.post-container:hover {
	margin-top: -10px;
	margin-bottom: 10px;
}

.post-container {
	float: left;
	width: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background: #F3F5F6;
}

.post-container img {
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
    padding: 0;
    border: 0;
}

.post-container video {
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	margin: 0;
    padding: 0;
}



.play-button {
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.3) url("../img/icons/icon-play-white.svg") 6px center no-repeat; 
	background-size: 20px 20x;
	z-index: 3;
	border: 0;
}

.play-action {
	right: 30px;
	top: 30px;	
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 25px;
	background: none; 
	background-size: 20px 20x;
	z-index: 5;
	border: 0;
}

.post-container:hover .play-button {
	opacity: 0;
	visibility: hidden;
}

.post-container:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.post-description {
	float: left;
	width: 100%;
	padding: 25px 0px;
	position: relative;
}

.post-description span {
	float: left;
	color: #8E9AA7;
	padding: 5px 4px 5px 0px;
	height: 25px;
	overflow: hidden;
}

.post-description .creator-span {
	position: absolute;
	left: 22px;
}

.post-creator {
	float: left;
	color: #292C30;
	text-decoration: none;
	padding: 5px 4px 5px 0px;
	height: 25px;
	overflow: hidden;
	position: absolute;
	left: 22px;
}

.post-creator:hover {
	color: #0071FF;
}

.post-source {
	float: right;
	color: #8E9AA7;
	text-decoration: none;
	padding: 5px 0px 5px 20px;
	position: absolute;
	background: #fff;
	right: 0;
	
}

.post-source:hover {
	color: #0071FF;
}

/* --- Slider stuff -------------------------------------------------- */


.anim_solid {
    animation: anim_solid_keyframe 300ms;

}
@keyframes anim_solid_keyframe {
    from {opacity: 0;}
    to {opacity: 1;}
}
.anim_invis {
    animation: anim_invis_keyframe 300ms;
}
@keyframes anim_invis_keyframe {
    from {opacity: 1;}
    to {opacity: 0;}
}

.slideContent{
    position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translate(-50%, 0%);
    z-index: 5;
}
.slide{
	opacity: 1;
	transition: opacity 0.5s ease;

}
.slideContent .dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 3px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.3s ease;
  }
  
 .slideContent .active, .dot:hover {
	background-color: #fff;
  }



/* --- Footer -------------------------------------------------- */


.footer {
	float: left;
	width: 100%;
	padding: 100px 90px 60px 170px;
	position: relative;
}

.footer-container {
	margin: 0 auto;
	max-width: 1180px;
}

.footer .kolom {
	float: left;
	width: 25%;
	padding: 0 30px 30px 30px;
	height: 200px;	
}

.footer .kolom li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer .kolom li a {
	color: #8E9AA7;
	text-decoration: none;
	line-height: 28px;
	font-weight: 500;
}

#welovewebdesignfollowers { color: #FF3F4C;}
#welovebrandingfollowers { color: #3ECFA7;}
#weloveillustrationfollowers { color: #FF992B;}
#weloveanimationsfollowers { color: #5C52B5;}

.footer .kolom li a:hover {
	color: #0071FF;
}

.footer .kolom li .socialhover:hover {
	color: #8E9AA7;
}

.footer .kolom li a:hover span {
	margin-left: 10px;
}



.footer .kolom span {
	line-height: 28px;
	margin-left: 5px;
	font-size: 13px;
	font-weight: 700;
	color: #8E9AA7;
}


.footer-bottom {
	width: 100%;
	float: left;
	text-align: center;
	height: 81px;
	border-top: solid rgba(0, 0, 0, 0.07) 1px;
	padding-left: 80px;
}

.footer-bottom a {
	color: #8E9AA7;
	text-decoration: none;
	line-height: 80px;
	font-weight: 500;
	padding: 0 10px 0 10px;
}

.footer-bottom a:hover {
	color: #0071FF;
}

.social-links-about {
	float: left;
	width: 100%;
	margin-top: 40px;
}

.social-links-about .share-button {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 5px;
	border-radius: 15px;
	margin-top: 8px;
}

.social-links-about .share-button:hover {
	opacity: 0.8;
}

.social-links-about .facebook {background: #292C30 url("../img/icons/icon-facebook-white.svg") center center no-repeat; background-size: 14px 14px;}
.social-links-about .twitter {background: #292C30 url("../img/icons/icon-twitter-white.svg") center center no-repeat; background-size: 14px 14px;}
.social-links-about .instagram {background: #292C30 url("../img/icons/icon-instagram-white.svg") center center no-repeat; background-size: 16px 16px;}
.social-links-about .pinterest {background: #292C30 url("../img/icons/icon-pinterest-white.svg") center center no-repeat; background-size: 14px 14px;}

/* --- Inspiration Filter --- */


.inspiration-filter {
	float: left;
	width: 100%;
	padding: 0px 30px 0 30px;
	margin-bottom: 90px;
	font-weight: 400;
}

.inspiration-filter .filter-title {
	display: none;
}

.inspiration-filter span {
	float: left;
	line-height: 29px;
	padding: 10px 0px;
	margin-right: 20px;
	color: #292C30;
}


.inspiration-filter .filter-all {
	float: left;
	line-height: 19px;
	padding: 15px 20px 15px 15px;
	border-radius: 30px;
	color: #ABB5BF;
	margin-right: 20px;
	cursor: pointer;
	background: none;
	border: solid rgba(0, 0, 0, 0.0) 1px;
	visibility: visible;
	opacity: 1;
	
}

.inspiration-filter .filter-all.active {
	opacity: 0;
	visibility: hidden;
}

.inspiration-filter .filter-all:hover {
	color: #0071FF;
}

.inspiration-filter .filter-pages {
	float: left;
	line-height: 29px;	
}

.inspiration-filter .filter-pages .filter-button {
	float: left;
	padding: 16px 20px 16px 23px;
	color: #8E9AA7;
	cursor: pointer;
	border-radius: 30px;
	margin-right: 10px;
	line-height: 19px;
	background: #fff;
	border: solid rgba(0, 0, 0, 0.07) 1px;
}

.inspiration-filter .filter-pages .filter-button:last-child {
	margin-right: 0px;
}

.inspiration-filter .filter-pages .filter-button.active {
	color: #292C30;
	background: #F3F5F6;
	border: solid rgba(0, 0, 0, 0.0) 1px;
}

.inspiration-filter .filter-pages .filter-button:hover {
	color: #0071FF;
}

.inspiration-filter .filter-pages .filter-button .checkbox {
	width: 20px;
	height: 20px;
	background: none;
	float: right;
	position: relative;
	display: block;
	margin-left: 10px;
}

.inspiration-filter .filter-pages .filter-button .checkbox .ico-cross {
	width: 20px;
	height: 20px;
	position: absolute;
	background: url("../img/icons/icon-plus-grey.svg") center center no-repeat;
	background-size: 20px 20px;
	transform: rotate(0deg);
	opacity: 0
}

.inspiration-filter .filter-pages .filter-button.active .checkbox .ico-cross {
	width: 20px;
	height: 20px;
	position: absolute;
	background: url("../img/icons/icon-plus-grey.svg") center center no-repeat;
	background-size: 20px 20px;
	transform: rotate(-45deg);
	opacity: 0
}

.inspiration-filter .filter-pages .filter-button .checkbox .ico-plus {
	width: 20px;
	height: 20px;
	position: absolute;
	background: url("../img/icons/icon-plus-grey.svg") center center no-repeat;
	background-size: 20px 20px;
	transform: rotate(0deg);
	opacity: .8;
}

.inspiration-filter .filter-pages .filter-button.active .checkbox .ico-plus {
	width: 20px;
	height: 20px;
	position: absolute;
	background: url("../img/icons/icon-plus-grey.svg") center center no-repeat;
	background-size: 20px 20px;
	transform: rotate(-45deg);
	opacity: 1;
}

.apply-filter {
	display: none;
}

.filter-switch {
	display: none;
}

.button-square-big .small {
	display: none;	
}



/* --- Grid Selector Inactive --- */


.grid-selector {
	float: right;
	height: 52px;
	width: 52px;
	background: #F3F5F6;
	padding: 16px 0px;
	border-radius: 30px;
	cursor: pointer;
	transform: rotate(0deg);
}

.grid-selector:hover {
	background: #EBEDF1;	
}


/* --- Grid Selector hover Blue
.grid-selector:hover .ico-selector{border: 2px solid rgba(0, 116, 255, 0);}
.grid-selector:hover .ico-selector:before {border: 2px solid #0071FF;}
.grid-selector:hover .ico-selector:after {border: 2px solid #0071FF;}

.grid-selector.active:hover .ico-selector{border: 2px solid #0071FF;}
.grid-selector.active:hover .ico-selector:before {border: 2px solid #0071FF;}
.grid-selector.active:hover .ico-selector:after {border: 2px solid #0071FF;}
--- */

.grid-selector-row {
	float: left;
	height: 8px;
	width: 52px;
	position: relative;
	margin: 1px 0px;
}

.grid-selector .ico-selector {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid 2px rgba(178, 184, 191, 1);
}

.ico-selector:before,
.ico-selector:after
{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	border: solid 2px rgba(178, 184, 191, 1);
	top: 50%;
}

.ico-selector:before {
	transform: translate(8px,-50%);
}

.ico-selector:after {
	transform: translate(-12px,-50%);
}



/* --- Grid Selector Active --- */


.grid-selector.active {
	padding: 16px 0px;
	transform: rotate(0deg);
}

.grid-selector.active .grid-selector-row {
	height: 8px;
}

.grid-selector.active .ico-selector {
	border: solid 2px rgba(178, 184, 191, 0);
	width: 4px;
	height: 8px;
}

.grid-selector.active .ico-selector:before {
	transform: translate(1px,-50%);
	width: 8px;
	height: 8px;
}

.grid-selector.active .ico-selector:after {
	transform: translate(-9px,-50%);
	width: 8px;
	height: 8px;
}

/* --- Challenges Header --- */



.submit {
	float: left;
	width: 100%;
	padding: 0px 90px 0px 170px;
	background: #F5F6F8;
	overflow: hidden;
}

.submit-container {
	margin: 0 auto;
	max-width: 1180px;
}

.submit-header-block-1 {
	float: left;
	width: 57%;	
	position: relative;
	height: 640px;
	padding: 110px 0 0 0;
}

.submit-header-block-1-top {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0px 120px 0 30px;
	position: absolute;
	z-index: 2;
}

.submit-header-block-1-back {
	float: left;
	width: 100vw;
	height: 300vh;
	right: 0;
	top: 0;
	position: absolute;
	z-index: 0;
	background: #fff;
}

.intro-text-submit {
	float: left;
	width: 100%;
	padding: 0 0 60px 0;
}

.intro-text-submit a {
    color: #8E9AA7; 
    text-decoration: none;
}

.intro-text-submit a:hover {color: #0071FF;}

.step-submit {
	float: left;
	max-width: 480px;
}

.step-submit span {
	line-height: 26px;
}

.step-submit .step-ico {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 30px;
	border-radius: 20px;
	margin-top: 4px;
	margin-bottom: 50px;
}

.step-submit #step-ico-1 {background: #292C30 url("../submit/img/ico-1-glass.png"); background-size: cover;}
.step-submit #step-ico-2 {background: #292C30 url("../submit/img/ico-2-mail.png"); background-size: cover;}
.step-submit #step-ico-3 {background: #292C30 url("../submit/img/ico-3-clock.png"); background-size: cover;}


.submit-header-block-2 {
	float: left;
	padding: 110px 30px 120px 80px;
	height: auto;
	width: 43%;	
	position: relative;
	background: #F5F6F8;
}

.background-submit-vlak {
	position: absolute;
	left: 0; 
	top: 0;
	background: #F5F6F8;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

.submit h2 {
	margin: 10px 0 30px 0;
	display: block;
	width: 100%;
}

.submit h2 .price-submit {
    color: #8E9AA7;
    font-size: 24px;
    margin-top: -5px;
    position: absolute;
    margin-left: 10px;
}


.form-group {
	float: left;
	width: 100%;
}

label {
	width: 100%;
	float: left;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 400;
}

label span {
	color: #8E9AA7;
	font-size: 12px;
	float: right;
}

input {
    border:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;	
    background: none;
    font-size: 14px;
    border-radius: 0;
}

textarea:focus, input:focus{
    outline: none;
}

.form-control {
	width: 100%;
	float: left;
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;	
    background: #fff;
    line-height: 44px;
    padding: 0 15px 0 15px;
    color: #8E9AA7;
    margin-bottom: 20px;
}

.submit-button{
	float: left;
	line-height: 54px;
	color: #fff;
	font-size: 15px;
	float: left;
	height: 54px;
	padding: 0px 35px 0px 35px;
	background: #0071FF;
	text-decoration: none;	
	border-radius: 30px;
	line-height: 18px;
	color: #fff;
	font-size: 14px;
}

.submit-button:hover {
	background: #0469EA;
}

.channel-label {
	margin-bottom: 10px;
}

#rc-imageselect {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}

::placeholder {color: #CCD2DA; }
::-webkit-input-placeholder { color: #CCD2DA;}
::-moz-placeholder {color: #CCD2DA;}
:-ms-input-placeholder {color: #CCD2DA;}
:-moz-placeholder {color: #CCD2DA;}

.g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0 0;
}

.rc-anchor {
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.0) !important;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.0) !important;
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.0) !important;
}


.d-none {
	display: none;
}

.radio-p {
	position: relative;
	float: left;
	width: 50%;
	line-height: 40px;
	color: #8E9AA7;
	margin-bottom: 5px;
	font-size: 15px; 
	font-weight: 400;
}

.radiobutn:hover {
	cursor: pointer;
}

.g-recaptcha {
	margin-top: 15px;
	margin-bottom: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    width: 100%;
    position: absolute;
    float: left;
    opacity: 0;
    z-index: 100;
    line-height: 40px;
    height: 40px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #8E9AA7;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #0071FF;
    border-radius: 100%;
    background: #fff;
}


[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0071FF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.help-block ul {
	position: relative;
}

.help-block li {
	color: #FF3F4C;
    font-size: 12px;
    list-style: none;
    position: absolute;
    right: 0;
    top: -11px;
    background: #F5F6F8;
    padding: 0 0 0 3px;
    font-weight: 400;
}

.captcha-error ul li{
	top: -64px !important;
}

.alert {
	color: #fff;
    background: #3ECFA7;
    line-height: 54px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.alert button {
	display: none;
}

@media screen and (min-width: 1580px){ /* 1680px */
h2 { font-size: 52px; line-height: 76px;}
p 	{font-size: 16px; font-weight: 500; line-height: 32px; }
b 	{font-size: 16px; font-weight: 600; line-height: 32px; }

.logo {
	margin-bottom: 120px;
}

.inspiration h2 {
	margin: 20px 0 50px 0;
}

.inspiration {
	padding: 130px 90px 110px 170px;
}

.inspiration-container {
	max-width: 1480px;
}

.post {
	float: left;
	padding: 30px;
	width: 25%;
	height: auto;	
}

.post.active {
	float: left;
	padding: 30px;
	width: 33.33333%;
	height: auto;		
}

.footer {
	padding: 120px 90px 50px 170px;
}

.footer-container {
	margin: 0 auto;
	max-width: 1480px;	
}

.footer .kolom li a {
	font-size: 16px;
	line-height: 32px;
}

.footer .kolom {
	height: 260px;	
}
.inspiration-filter {
	margin-bottom: 130px;
}

.inspiration-filter .filter-pages .filter-button {
	padding: 20px 25px 20px 28px;
}

.inspiration-filter span {
	padding: 15px 0px;
}

.grid-selector {
	height: 60px;
	width: 60px;
	padding: 20px 0px;
}

.grid-selector-row {
	width: 60px;
}

.grid-selector.active {
	padding: 20px 0px;
}

.submit {
	padding: 0px 90px 0 170px;
}

.submit-container {
	margin: 0 auto;
	max-width: 1480px;	
}

.submit-header-block-1 {
	padding: 130px 0 0 0;
	width: 60%;	
}

.submit-header-block-2 {
	padding: 130px 30px 120px 100px;
	width: 40%;	
}

.submit-header-block-1-top {
	padding: 0px 150px 0 30px;
}


label { font-size: 14px; margin-bottom: 15px;}

.form-control {line-height: 60px; padding: 0 20px 0 20px; margin-bottom: 30px;}

input {font-size: 15px;}

.g-recaptcha {
    transform: scale(1);
    transform-origin: 0 0 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.submit-button{
	line-height: 60px;
	color: #fff;
	font-size: 16px;
	height: 60px;
	padding: 0px 35px 0px 35px;
	border-radius: 30px;
}

.submit-button:hover {
	background: #0469EA;
}
} /* close @media*/


@media screen and (max-width: 1200px){
h2 {font-size: 40px;}

.inspiration {
	float: left;
	width: 100%;
	padding: 110px 50px 80px 130px;
	z-index: auto;
}

.post {
	padding: 20px;
}

.footer {
	padding: 100px 50px 50px 130px;
}

.inspiration-filter .filter-pages .filter-all {
	display: none;
}

.submit {
	padding: 0px 50px 0px 130px;
}

.submit-header-block-1 {
	padding: 110px 0 0 0;
}

.submit-header-block-2 {
	padding: 110px 30px 80px 60px;
}


} /* close @media*/

@media screen and (max-width: 1024px){
h2 {font-size: 32px; line-height: 48px;}
h3 {font-size: 22px; line-height: 36px; margin-bottom: 15px;}

.inspiration {
	float: left;
	width: 100%;
	padding: 80px 70px 50px 70px;
	z-index: auto;
}

.logo {
	margin-bottom: 40px;
}

.back-page-button {
	width: 60px;
	height: 60px;
	background: rgba(41, 44, 48, 1);
	display: block;
	left: 30px;
	top:auto;
	bottom: 20px;
	z-index: 4;
	padding: 20px;
	border-radius: 30px;
	position: fixed;
	opacity: 1;
	visibility: visible;
}

.back-page-button:hover {padding: 20px;}

.post, .post.active {
	float: left;
	padding: 30px;
	width: 50%;
	height: auto;	
}	

.footer {
	padding: 80px 85px 50px 85px;
}

.footer .kolom {
	width: 50%;
	padding: 0 15px 30px 15px;
}

.footer-bottom {
	height: 100px;
	padding: 10px 20px 10px 20px;
}

.grid-selector {
	display: none;
}

.inspiration-filter {
	margin-bottom: 60px;
	padding: 0px 0px 0 30px;
}

.inspiration-filter .filter-pages .filter-button {
	padding: 10px 15px 10px 18px;
}

.inspiration-filter .filter-pages .filter-button .checkbox {
	margin-left: 5px;
}
.submit {
	padding: 0px 70px 0px 70px;
}

.submit-container {
	padding: 0px 0px;
}

.submit-header-block-1 {
	padding: 80px 0 0 0;
	width: 50%;	
}

.submit-header-block-2 {
	padding: 80px 30px 50px 30px;
	width: 50%;	
}

.submit-header-block-1-top {
	padding: 0px 50px 0 30px;
}
} /* close @media*/
@media screen and (max-width: 840px){
.inspiration {
	float: left;
	width: 100%;
	padding: 80px 0px 40px 0px;
	z-index: auto;
}


} /* close @media*/

@media screen and (max-width: 768px){
p, a, span 	{font-weight: 500;}


.logo {
	margin-bottom: 40px;
}

.inspiration-header {
	padding: 0px 40px;
}

.inspiration h2 {
	margin: 10px 0 40px 0;
}

.post, .post.active {
	float: left;
	padding: 20px;
	width: 100%;
	height: auto;	
}

.post-description {
	padding: 25px 10px 25px 10px;
}	

.post-description .creator-span {
	left: 32px;
}

.post-creator {
	left: 32px;
}

.post:first-child {
	margin-top: 40px;
}

.breadcrumb a {
	font-size: 15px;
}

.footer {
	padding: 50px 15px 0px 15px;
}

.footer .kolom li a {
	font-size: 13px;
	line-height: 25px;
}

.footer .kolom h4 {
	font-size: 16px;
}

.footer-bottom {
	text-align: left;
}

.footer-bottom a{
	font-size: 13px;
}	

.inspiration-filter {
	position: fixed;
	bottom: 0;
	left: 0;
	float: left;
	width: 100%;
	height: 470px;
	padding: 30px 40px;
	margin-bottom: 0px;
	background: #fff;
	z-index: 6;
	transform: translate(0,100%);
	font-weight: 500;
}

.inspiration-filter.active {
	transform: translate(0%,0);
}

.inspiration-filter .filter-title {
	display: block;
	margin-top: 20px;
}

.inspiration-filter .filter-pages .filter-all {
	right: 20px;
	top: 45px;
	position: absolute;
	line-height: 30px;
	padding: 10px 35px;
	background: #F3F5F6;
	border-radius: 30px;
	color: #8E9AA7;
	margin-right: 20px;
	cursor: pointer;
	display: block;
}

.inspiration-filter .filter-pages  .filter-all.active {
	display: none;
}


.inspiration-filter span {
	display: none;
}

.inspiration-filter .filter-pages {
	width: 100%;
	float: left;
	line-height: 30px;
	padding: 35px 0 35px 0; 
	background: #FFF;
	border-radius: 0px;	
}


.inspiration-filter .filter-pages .filter-button {
	float: left;
	padding: 10px 0 10px 0;
	width: 100%;
	color: #ABB5BF;
	cursor: pointer;
	font-size: 17px;
	background: none;
	border-radius: 0px;
	border: 1px solid rgba(0, 0, 0, 0);
}

.inspiration-filter .filter-pages .filter-button.active {
	border: 1px solid rgba(0, 0, 0, 0);
	background: none;
}

.inspiration-filter .filter-pages .filter-button .checkbox {
	width: 30px;
	height: 30px;
	float: right;
	background: url("../img/icons/icon-check-dark.svg") center center no-repeat;
	background-size: 0px 0px;
	margin-left: 5px;
}

.inspiration-filter .filter-pages .filter-button.active .checkbox {
	background: url("../img/icons/icon-check-dark.svg") center center no-repeat;
	background-size: 20px 20px;	
}

.ico-plus, .ico-cross {display: none;}


.inspiration-filter .apply-filter {
	display: block;
	border-radius: 30px;
	width: 100%;
	background: #0071FF;
	color: #fff;
	line-height: 60px;
	text-align: center;
	height: 60px;
	cursor: pointer;
	float: left;
	margin-top: 40px;
	font-size: 16px;
}

.filter-switch {
	display: inline-block;
	float: left;
    line-height: 30px;
    padding: 15px 30px;
    background: #F3F5F6;
    border-radius: 30px;
    color: #292C30;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.button-square-big {

	position: relative;
	display: inline-block;
	float: left;
    line-height: 20px;
    padding: 20px 20px 20px 40px;
    border-radius: 30px;
    color: #292C30;
    margin-right: 0px;
    cursor: pointer;
    font-size: 16px;
    height: 60px;
    font-weight: 500;
  
}

.button-square-big span {
	font-family: 'Montserrat', sans-serif;
}

.button-square-big .icon {
	margin: 0px 10px 0px 10px;
}

.button-submit-right-top:hover .icon{
	margin: 0px 5px 0px 15px;
}

.button-square-big .big {
	display: none;	
}

.button-square-big .small {
	display: block;	
}

.submit {
	padding: 0px 0px 0px 0px;
}

.submit h2 {
	margin: 10px 0 40px 0;
}

.submit h2 .price-submit {
	font-weight: 700 !important;
}

.submit h2 .middle-submit {
    display: none;
}

.submit-header-block-1 {
	padding: 80px 40px 0 10px;
	width: 100%;
	height: 260px;	
}

.submit-header-block-2 {
	padding: 30px 30px 60px 30px;
	width: 100%;
	background: #eff1f3;
}

.intro-text-submit {display: none;}
.step-submit {display: none;}

.submit-header-block-1-top {	
	padding: 0px 30px 0 30px;
}

.submit-header-block-1-back {
	float: left;
	width: 100vw;
	height: 260px;
}

input {
	font-weight: 500;
}

label {
	font-weight: 500;
}

.footer-submit {display: none;}

.form-control {
    line-height: 54px;
    padding: 0 20px 0 20px;
    color: #8E9AA7;
    margin-bottom: 20px;
    font-weight: 500;
}

.help-block li {
    background: #eff1f3;
    font-weight: 500;
}

.captcha-error ul li{
	top: -111px !important;
}

.alert {
    font-weight: 500;
}
} /* close @media*/




@media screen and (max-width: 330px){
h2 {font-size: 26px; line-height: 40px;}
.filter-switch {line-height: 24px !important; padding: 15px 20px !important; font-size: 14px !important; font-weight: 500 !important;}
.button-square-big { padding: 17px 10px 17px 25px !important; height:  54px !important; }
.button-square-big span {font-size: 14px !important; font-weight: 500 !important;}

.footer .kolom li a { font-size: 12px;}
.social-links-about .share-button {transform: scale(0.8); margin-right: -3px;}	
.submit h2 {
	font-size: 25px;
}

.alert {font-size: 12px;}
	
} /* close @media*/

.submit-button  {
	-webkit-transition: all .3s ease-in-out;
  	-moz-transition: all .3s ease-in-out;
  	-ms-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
 }




.ico-selector, .ico-selector:before, .ico-selector:after, .icon, .button-square-big, .checkbox, .ico-cross, .ico-plus, .filter-button, .filter-all  {
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-ms-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
 }

 

 
 

.post-container, .grid-selector, .scroll-top, .play-button, .footer .kolom li a, .footer .kolom li a span  {
	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out;
  	-ms-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
 }




